
.label {
	-fx-font-family: SansSerif;
}

#SingleTextCell{
	
	-fx-border-color: derive(black, 80%);
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );	
	-fx-border-insets: 0;
	-fx-border-width: 0 0 2 0;  
	-fx-font-weight: bold;
	-fx-font-size: 16;
	-fx-font-family: SansSerif;
	-fx-cell-size: 24 ;
	-fx-background-color: white;
	-fx-border-width: 0 0 2 0;    
	-fx-border-color:  transparent transparent gray transparent ;
	-fx-border-width: 1;  
}

#SingleTextCell:hover {
	-fx-background-color: #E0E0E0;
}

#listContainer {
	-fx-background-color: white;
	-fx-border-color:  transparent transparent gray transparent ;
}

#CalorieLabel {
	-fx-text-fill: #98FF42;
	-fx-font-size: 16;	
	-fx-font-weight: bold;
}

#ItemNameLabel {
	-fx-font-size: 14;	
	-fx-font-weight: bold;	
}

#BrandNameLabel {
	-fx-font-size: 12;	
}

#NutritionLabelIcon:hover {
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );	

}

#IngrediantStatementLabel {
		-fx-font-size: 12;	
	
}
			
