/*Created by Kyle Wolff May 13 2015 */

.split-pane .split-pane-divider {
	-fx-background-color: transparent;
	-fx-cursor: null;
}

/* This is the Pane that acts as the Dimmer when the Nav Menu opens  */
#dimPane {
	-fx-background-color: black;
	-fx-opacity: 0;
}
#stackPaneAnchorPane{
	-fx-background-color: #8bc34a;
}

#navMenuPane {
	-fx-background-color: white;
}