.list-cell {
	-fx-background-color: white;
	-fx-font-weight: bold;
}

.list-cell:filled {
	-fx-text-fill: derive(black, 50%);
}

.list-cell:filled:hover{
	-fx-text-fill: #76FF03;
}

#listView {
	-fx-background-color: transparent;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.list-view .scroll-bar:vertical .increment-button,  
.list-view .scroll-bar:vertical .decrement-button {
	-fx-background-color: white;
	-fx-background-radius: 0em;
	-fx-padding: 0 10 0 0;
}

.list-view .scroll-bar:vertical .track {
	-fx-background-color: #F9F9F9;
	-fx-border-color: transparent;
}

.list-view .scroll-bar:vertical .increment-arrow,  
.list-view .scroll-bar:vertical .decrement-arrow {
	-fx-shape: " ";
	-fx-padding: 1 5 0 0;
	
}

.list-view .scroll-bar:vertical .thumb {
	-fx-background-color: derive(black,90%);
}

.list-view .scroll-bar:vertical .thumb:hover {
	-fx-background-color: derive(black,50%);
}

#searchField {
	-fx-background-color: white;
	-fx-border-insets: 0;
	-fx-border-width: 1;
	-fx-border-color: derive(black, 50%);
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
	-fx-background-insets: 0,0,1,2;
	-fx-font-family: 'sans-serif';
	-fx-font-style: normal;
	-fx-font-size: 15.0px;
}

#HBoxContainerForListView {
	-fx-background-color: transparent;
}

#SearchField_ErrorMessgae {
	-fx-text-fill: white;
	-fx-background-color: black;
	-fx-border-color: red transparent transparent transparent;
	-fx-background-insets: 0; 
    -fx-border-width: 4,0,0,0;
    -fx-font-family: 'system';
    -fx-font-size: 12.0;
}

#ImageButton{
	-fx-background-color: white;
}

